@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root {
    --font-family:'Nerko One', cursive;
    --padding-x: 100px;
}

*{
   margin: 0; 
   padding: 0;
   
}

h2[id]{
    scroll-margin-top: 200px;
}

html{
    scroll-behavior: smooth;
}
body{
    background-image: url(./img/est.png);
    background-size: contain;
    background-attachment: fixed;
    
    
}


.navlogo{
    cursor: pointer;
}

.navbar{
 height: 80px; 
 background-color: 2D033B;
 padding: 10px 50px;
 display: flex;
 justify-content: space-between;
 align-items: center;

}
 
.navlogo{
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar .navlogo img{
 width: 100%;
 max-width: 150px;
 min-width: 65px;
 max-height: 78px;
}

.menu{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}



.menu ul{
    
    display: flex;
    
    align-items: center;
    
    
}

.menu ul li{
    
    margin: 0 25px;
    
    transition: 0.5s;

}

.menu ul li:hover{
    border-bottom: 1px solid whitesmoke;
}
.menu li:last-child{
    
    padding: .25rem .75rem;
    border-radius: .2rem;
}

.menu ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family:'Nerko One', cursive; 
}

.seccion{
    width: 100%;
    height: 90%;
}

.slider{
    width: 100%;
    margin: auto;
    height: 900px;
    overflow: hidden;
     
}
.slider ul{
    padding: 0;
    width: 400%;
    display: flex;
    animation: cambio 15s infinite alternate linear;
    
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider li img{
    width: 100%;
    height: 80%;
    padding-top: 20px;
}

@keyframes cambio{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    
    
    
    

}

.seccion-texto{
    display: flex;
    justify-content: center;
    font-family:'Nerko One', cursive;
    font-size: 5rem;
    padding: 10px;
    letter-spacing: 9px;

}
    



.seccion2{
    height: 40%;
    width: 100%;
    background-color: whitesmoke;
    overflow: auto;

}

.contenedor{
    padding: 0px;
    margin: 0px 0px;
    display: inline;
    


}

h2{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Nerko One ;
    font-size: 3em;
    text-decoration:underline rgb(152, 31, 232);
    letter-spacing:3px;
    
}

h1{
    font-size: 2.5em;
    letter-spacing: 5px;
    text-decoration:underline rgb(152, 31, 232);
    
}
    



.sub-titulo{
    padding: 50px var(--padding-x);
    margin-top: 50px;
    font-family:Nerko One ;
    font-size: 30px;
    


}

.productos1{
    padding: 30px;
}

 
.imagenesproductos{
    width: 75vw;
    max-width: 1700px;
    min-width: 319px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    margin: auto;


}
.imag img{
    width: 100%;
    border-radius: 30px;
    box-shadow: 7px 5px 5px;

}

.text-imag{
    font-family:Nerko One ;
    font-size: 25px;
    text-align: center;
    padding: 10px ;
    
}

.contacto{
    
    height: 60%;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(255,255,255,1) 100%);

     
}

.contenedor-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
   


    

}

.contenedor2{
    width: 100%;
    
    
}

.contenedor-img{
    width: 20%;
    
    max-width: 1700px;
    min-width: 319px;
    
    
      

}
.contenedor-contacto img{
        width: 100%;
        
        

    }

.contenedor-form .form-items {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    

}

.contenedor-form .form-items label{
    font-family:Nerko One ;
    font-size: 35px;
    text-align: center;
    width: 100%;
    

}

.contenedor-form .form-items input{
    padding: 10px 60px;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    outline: none;
    width: 100%;
    

}

.contenedor-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ;
    background-color: rgb(233, 66, 197);
    box-shadow: 7px 5px 5px;
    

}

button:hover{
    background-color: blueviolet;
    
}


footer {
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    width: 100%;
    height: 15%;
    margin-top: 10%;
     
}



.titulo-seccion{
    
    font-family:'Nerko One', cursive;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.redes{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    

}

.redes i {
    font-size: 25px;
    padding: 0 20px;

}
.redes{
    cursor: pointer;

}

.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.menu-icon, #check{
    display: none;
}



@media screen and (max-width: 1200px){

    h1{
        font-size: 2em;
        margin-top: 0px;
    }


    h5{
    font-size: 40px;
    margin-bottom: 30px;
    }


    .imagenesproductos{
    display: flex;
    flex-direction:column;

 } 
    .sub-titulo{
       margin-top: 0; 
    }
    
    
    .contacto .contenedor2 h2{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .contenedor-form{
        width: 30%;
    }
     .seccion{
        height: 60%;
     }

}
   
@media screen and (max-width: 990px)  {
.sub-titulo{
    margin-top: 0;
    padding: 20px;
}
.seccion-texto{
    font-size: 3.6em;
    
}

}      

@media screen and (max-width: 866px){
    .seccion-texto{
        font-size: 2.7em;
    }
    .seccion{
        height: 50%;
     }

.imagenesproductos{
    padding: 0;
}
 .sub-titulo{
    margin-top: 0;

 }


}

@media screen and (max-width: 836px){
    .seccion{
        height: 45%;
    }
    .seccion-texto{
        padding: 10;
    }

    h1{
        font-size: 1.5em;
        margin-top: 0;
        
    }
.contenedor-form{
    width: 40%;
}
.contenedor-img{
    width: 30%;
}
.contacto{
    padding: 50px 0;
}
.sub-titulo{
    margin-top: 0;
}

}


@media screen and (max-width: 768px){

        .sub-titulo{
        font-family:Nerko One ;
        font-size: 30px; 
        padding: 20px;
        
    }
    .seccion-texto{
        padding-top: 15px;
    }
    .sobrenosotros1{
        padding-bottom: 30px;
    }
    .productos1{
        padding: 30px;
    }

        .checkbtn{
            display: block;
        }

        .menu-icon{
            display: block;
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }

         .menu ul{
            display: block;
            position: fixed;
            top: 70px;
            left: -100%;
            background: blueviolet;
            width: 100%;
            height: 100vh;
            right: 0;
        }

        .menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
        }

        .menu ul li:last-child{
        background: none;
        padding: 1rem;
        }


        #check:checked ~ ul{
        left: 0;

    }



    button{
    width: 100%;
    margin-left: 0;
    

}


.contacto .contenedor2 h2{
   padding-top: 0;
   margin-top: 0px;
   
    
   }

   
   .seccion2{
    height: 50%;
    
}

}

@media screen and (max-width: 659px){
    .seccion-texto{
        font-size: 2em;
        

    }
    .slider li img{
        padding-top: 20px;
    }

    .seccion{
        height: 40%;
    }
    .sobrenosotros1{
        padding-top: 0;
}
}
@media screen and (max-width: 594px){
    .seccion2{
        height: 60%;
    }
    
}
@media screen and (max-width: 576px){
    .seccion-texto{
        font-size: 2em;
        letter-spacing: 4;
    }
    .slider li img{
        padding-top: 30px;
    }

    .seccion{
        height:40%;
    }

    h1{
        font-size: 1.2em;
        
    }

.contenedor-contacto{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.sobrenosotros1{
    margin-top: 0;
}

.formulario{
    display: block;
    position: fixed;
    top: 70px;
    left: -200%;
}
.contenedor-contacto{
    width: 100%;
    
    
}
.contenedor-img{
    width: 0;
    min-width: 0;
}

}


@media screen and (max-width: 553px){
    
h1{
    font-size: 1.1em;
}
.sub-titulo{
    margin: 0px;

}
.seccion-texto{
    padding-top: 10px;
}
.slider li img{
    padding-top: 30px;
}

}

@media screen and (max-width: 517px){
    h1{
        font-size: 1em;
    }
    .productos1{
        margin-top: 0;
    }
    .contenedor-form{
        width: 50%;
    }
    .seccion{
        height: 35%;
    }
}
@media screen and (max-width: 482px){
    h1{
        font-size: 0.9em;
    }
    .productos1{
        margin-top: 0;
    }
    .seccion-texto{
        padding-top: 15px;
    }
}
@media screen and (max-width: 447px){
   .seccion-texto{
        font-size: 1.7em;
        letter-spacing: 3;
    }
    .productos1{
        margin-top: 0;
    }
    .seccion{
        height: 30%;
    }
    .contenedor-form{
        width: 60%;
    }
    .sub-titulo{
        font-size: 1.9em;
        padding: 10px;
    }
    .seccion2{
        height: 65%;
    }
}
@media screen and (max-width: 425px){
    .seccion{
        height: 30%;
    }
h1{
    font-size: 0.9em;
    letter-spacing: 1;
    margin-top: 0;
}
.seccion-texto{
    padding-top: 10px;
}
.slider li img{
    padding-top: 20;
}
.sub-titulo{
    font-size: 1.8em;
    margin-top: 30px;
}
.contenedor-contacto{
    margin-left: 25px;

    
}
.sobrenosotros1{
    padding-bottom: 0;
}
h2{
    margin-right: 0;
}
.contenedor-contacto{
    margin-left: 0;
}
.login{
font-size: 10px;
}
.productos1{
    margin-top: 0;
}
}

@media screen and (max-width: 390px){
.sub-titulo{
    margin-top: ;
}
.seccion-texto{
    font-size: 1.5em;
    padding-top: 15px;
}

}   
    
@media screen and (max-width: 375px){
    .seccion{
        height: 28%;
    }
    h1{
        font-size: 0.7em;
    }

    .seccion2{
        height: 55%;
    }
    .sub-titulo{
        font-size: 1.6em;
        
    }

h2{
    font-size: 40px;
    
}
.slider li img{
    padding-top: 20px;
}

.productos1{
    margin: 20px 0;
    padding: 0 ;
}
 
.contenedor-form{
    width: 80%;
}
button{
    width: 70%;
}

}
@media screen and (max-width: 343px){
    .imagenesproductos{
        min-width: 75%;
    }
    .seccion-texto{
        font-size: 1.3em;
    }
    .seccion{
        height: 25%;
    }

}
@media screen and (max-width: 332px){
    h1{
        font-size: 0.7em;
        padding-top: 10px;
        letter-spacing: 1px;
    }
    
}


@media screen and (max-width: 320px){
    .seccion-texto{
        font-size: 1em;
        padding-top: 15px;
    }
     h2{
        margin-right: 0;
        
    }
    .seccion{
        height: 35%;
       
    }
    

    .productos1{
        margin-top: 0;
    }
    .seccion2{
        height: 65%;
    }
    
    
    .sub-titulo{
        font-size: 22px;
    }
    .sobrenosotros1{
        padding-bottom: 0;
    }
    
    .productos1{
        
        padding: 10px 0;
    }
    
    .contacto{
        padding: 0;

    }
    .contenedor-contacto{
        margin-top: 0px;

    }
    .registrate1{
        font-size: 2em;

    }

    
    .contenedor-form .form-items input {
       margin-bottom: 0;
       padding: 5px;

    }
    
    footer{
        height: 23%;

    }
}
